<div class="container size-container">
  <div class = "container-flex">
    <% @carts.each do |cart| %>
      <div class="cards-product-transaction m-3">
        <%= cl_image_tag cart.product.photo.key %>
        <div class="card-product-infos">
          <div>
            <h2><%= cart.product.name %></h2>
            <p><%= cart.product.description %></p>
          </div>
          <div>
          <h2><strong><%= cart.product.price %> €</strong></h2>
          <p><%= link_to "Delete", cart, method: "delete", class: "text-danger", data: {confirm: "Are you sure?"}  %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% total = 0 %>
    <% carts.each do |item| %>
    <% total += item.product.price %>
    <% end %>
    <% unless carts.empty? %>
      <div>
        <h5>Total :<%= total %>€</h5>
      </div>
      <%= link_to  "VALID CART & PAY", transactions_path, method: :post, class: "btn btn-ghost-revert" %>
      <%= link_to 'Continue Shopping', :back, class: "btn btn-ghost-revert" %>
    <% end %>
</div>
  </div>
</div>



