<div class="container size-container">
  <% carts.each do |item| %>
  <div class="cart-cards">
    <%= cl_image_tag item.product.photo.key, height: 75, width: 75, crop: :fill %>
      <p><%= item.product.name %></p>
      <p><%= item.product.price %>€</p>
      <%= link_to 'remove', cart_path(item), method: :delete %>
  </div>
    <% end %>
    <% total = 0 %>
    <% carts.each do |item| %>
    <% total += item.product.price %>
    <% end %>
  <% unless carts.empty? %>
    <h5>Total :<%= total %>€</h5>
    <%= link_to  "VALID CART & PAY", transactions_path, method: :post, class: "btn btn-ghost-revert" %>
  <% end %>
</div>
