<div class="container size-container">
  <div class="all">
    <% @products.each do |product| %>
      <div class="card-product" data-category="<%= product.category_id %>" >
        <%= link_to product_path(product.id) do %>
          <div class="card-img-top">
            <%= cl_image_tag product.photo.key, class:"img-card", width: 300, height: 300 %>
          </div>
        <% end %>
        <div class="card-body">
          <%= link_to product_path(product.id) do %>
            <h5 class="card-title"><%= product.name %></h5>
          <% end %>
          <h6 class="card-username mb-2 text-muted"><%= product.user.username %></h6>
          <div class="card-text">
            <%= product.description.truncate(60, separator: /[\.\,: ]/, omission: ' ...') %>
          </div>
        </div>
        <div class="card-footer d-flex">
          <div class="card-product-pricing text-success">
            <h5 id="prix"><%= product.price %>€</h5>
          </div>
          <%= link_to product_carts_path(product.id), class:"btn btn-ghost-revert", method: :post do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
